body{
    font-family: 'Rubik', sans-serif !important;
    background-color: #FFFF;
}
.nav ul {
    list-style-type: none;
  }
  .nav li {
    cursor: pointer;
    font-size: 16px;
    color: #4F5665;
    padding: 10px;
    display: inline;
  }
  .nav li:hover{
    color: #F53855;
  }
  .head{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 10px;
    align-items: center;
    
    width: 100%;
    position: fixed;
    background-color: #FFFFFF;
  }
  .header{
    
    display: flex;
    justify-content: space-between;
   
  }
  .b1{
    font-size: 16px;
    color: #0B132A;
    font-weight: 500;
    padding: 10px 30px;
    text-decoration: none;
  }
  .b1:hover{
    color: blue;
  }
  .b2{

    border: #F53855 solid 1.5px;
    border-radius: 10cm;
    color: #F53855;
    
  }
  .ban{
    background-color: #FFFF;
    padding-top: 150px;
  }
  .banbutton{
    -webkit-box-shadow: -1px 18px 5px -4px rgba(245,56,56,0.5);
-moz-box-shadow: -1px 18px 5px -4px rgba(245,56,56,0.5);
box-shadow: -1px 18px 5px -4px rgba(245,56,56,0.5);
    background-color:#F53838;
    color: aliceblue;
    border: none;
    border-radius: 10px;
    padding: 20px 30px 20px 80px;
    
    font-size: 16px;
    font-weight: 600;
    
  }
  .banh1 h2{
    
    padding: 10px;
    font-size: 50px;

  }
  .banh1 h2 span{
    font-weight: bold;

  }
  .banh1 p{
    color: #4F5665;
    padding: 10px;
    font-size: 16px;

  }
  .banh1 p span{
    font-weight: bold;

  }
  .bancont{
    border-right: 1px solid #EEEFF2;
    
    justify-content: center;
    display: flex;
    flex-direction:row ;
    align-items: center;
    
  }
  .bancont img{
    margin: 20px;
  }
  .bancont h4{
    font-size: 25px;
    margin-bottom: 0;
    font-weight: 600;
  }
  .bancont p{
    font-size: 20px;
    color: #4F5665;
    margin-bottom: 0;
  }
  .bannerwrapper{
    margin-bottom: 30px;
    margin-top: 30px;
    padding-top: 40px;
    padding-bottom: 10px;
    
  

    -webkit-box-shadow: 1px 70px 45px -6px rgba(246,246,246,0.4);
-moz-box-shadow: 1px 70px 45px -6px rgba(246,246,246,0.4);
box-shadow: 1px 70px 45px -6px rgba(246,246,246,0.4);


  }
  .icon1{
    display: flex;
    padding-right: 10px;
    align-items: center;
    
    
  }
  .icon1 img{
    background-color: #FFFF;
    padding-right: 20px;
  }
.icon2{
    flex-direction: row;
}
.features{
  padding-top: 100px;
  background-color:#FFFF;
}
.feature{
  
  background-color: #FFFF;
    padding-top: 100px;
    color: #4F5665;
}
.feature h2{
    font-size: 35px;
    font-weight: 600;
}
.feature p{
    font-size: 16px;
}
.plans{
    
    
}
.plan{
    
    padding-top: 100px;
    padding-bottom: 100px;
    flex-direction: column;
    align-items: center;
}
.plan h1{
    color: #0B132A;
    font-size: 34px;
    font-weight: 600;
}
.plan p{
    color: #4F5665;
    font-size: 16px;
}
.plancontainer{
    cursor: pointer;
    padding: 20px;
    border-style: outset;
    margin: 50px;
    height: 700px;
    border: color #000;;
    text-align: center;
    
    
}
.plancontainer :hover{
    color: #F53838;
}
.plancontainer img{
    padding-top: 50px;
}
.plancontainer h4{
    padding: 20px;
}
.plancontainer h3{
    padding-top: 100px;
}
.plancontainer button{
    
    border: #F53855 solid 2px;
    border-radius: 1cqw;
    color: #F53855;
    width: 180px;
    height: 40px;
}
.plancontainer p{
    display: flex;
    justify-content: left;
    padding-left: 20px;
}
.plancontainer p span{
    font-weight: lighter;
    color: #4F5665;
}
.butt{
    background-color: #F53838;
    color: #F6F6F6;
    
}
.net{
 
    padding-top: 100px;
    padding-bottom: 100px;
    flex-direction: column;
    align-items: center;
}
.net h1{
    color: #000;
    font-size: 35px;
    font-weight: 600;
    line-height: 1px;
}
.net p{
  width: 30%;
  text-align: center;
    color: #4F5665;
    font-size: 16px;
}
.netimg{
    position: relative;
}
.dotedmap{
  background-color: #FFFF;
}
.customer{
  margin-right: 20px;
  padding: 10px;
  width :25%;
  display: flex;
  background-color: #FFFF;
  border: #F53855 solid 2px;
    border-radius: 1cqw;
    align-items: center;
}
.customer img{

  height: 80px;
  border-radius: 50%;
  
  width: 80px;
}
.customer h5{
  font-size: 22;
  font-weight: 600;
  
}
.containerrow{
  
  display: flex;
  align-items: center;
  justify-content: center;
}
.customer p{
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cust{
  justify-content: space-between;
  margin-left: 50px;
  display: flex;
  flex-direction: row;
}
